.team-member-dr-ss-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.team-member-dr-ss-thq-team-section-elm {
  height: 1246px;
}
 
.team-member-dr-ss-thq-team-card-wrapper-elm {
  width: 1168px;
  height: 960px;
}
 
.team-member-dr-ss-thq-member-card-elm {
  width: 992px;
  height: 1019px;
}
 
.team-member-dr-ss-thq-member-info-side-elm {
  width: 777px;
  height: 779px;
  margin-right: 39px;
  padding-right: 0px;
}
 
.team-member-dr-ss-thq-section-content-elm3 {
  height: 345px;
}
 
.team-member-dr-ss-container2 {
  display: none;
}
 
.team-member-dr-ss-container3 {
  display: contents;
}
