.undergrads-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.undergrads-text10 {
  display: inline-block;
}
 
.undergrads-text13 {
  display: inline-block;
}
 
.undergrads-text14 {
  display: inline-block;
}
 
.undergrads-text15 {
  display: inline-block;
}
 
.undergrads-text16 {
  display: inline-block;
}
 
.undergrads-text17 {
  display: inline-block;
}
 
.undergrads-text20 {
  display: inline-block;
}
 
.undergrads-text23 {
  display: inline-block;
}
 
.undergrads-text26 {
  display: inline-block;
}
 
.undergrads-text29 {
  display: inline-block;
}
 
.undergrads-text32 {
  display: inline-block;
}
 
.undergrads-text33 {
  display: inline-block;
}
 
.undergrads-text37 {
  display: inline-block;
}
 
.undergrads-text38 {
  display: inline-block;
}
 
.undergrads-text39 {
  display: inline-block;
}
 
.undergrads-text43 {
  display: inline-block;
}
 
.undergrads-text44 {
  display: inline-block;
}
