.banner22-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner22-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner22-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner22-thq-title-elm {
  text-align: center;
}
 
.banner22-text1 {
  text-align: center;
}
 
.banner22-button {
  z-index: 100;
}
 
.banner22-video {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.banner22-text3 {
  display: inline-block;
}
 
.banner22-text4 {
  display: inline-block;
}
 
.banner22-text5 {
  display: inline-block;
}
