.banner13-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--color-on-surface);
  border-width: 1px;
  background-size: cover;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
}
 
.banner13-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner13-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner13-thq-title-elm {
  text-align: center;
}
 
.banner13-text1 {
  text-align: center;
}
 
.banner13-text2 {
  display: inline-block;
}
 
.banner13-text6 {
  display: inline-block;
}
