.blog-post-header92-thq-blog-post-header3-elm {
  display: flex;
  position: relative;
  align-items: center;
}
 
.blog-post-header92-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.blog-post-header92-thq-date-elm {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-weight: 200;
}
 
.blog-post-header92-text1 {
  align-self: center;
  text-align: justify;
}
 
.blog-post-header92-button {
  display: flex;
  align-self: center;
  flex-direction: row;
}
 
.blog-post-header92-link {
  font-size: 20px;
  text-decoration: none;
}
 
.blog-post-header92-text2 {
  display: inline-block;
}
 
.blog-post-header92-text3 {
  display: inline-block;
}
 
.blog-post-header92-text4 {
  display: inline-block;
}
 
.blog-post-header92root-class-name {
  background-color: #D9D9D9;
}
 
@media(max-width: 479px) {
  .blog-post-header92-thq-text-elm {
    text-align: center;
  }
}
