.blog-post-header91-thq-blog-post-header3-elm {
  display: flex;
  position: relative;
  align-items: center;
}
 
.blog-post-header91-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.blog-post-header91-thq-date-elm {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-weight: 200;
}
 
.blog-post-header91-text1 {
  align-self: center;
  text-align: justify;
}
 
.blog-post-header91-button {
  display: flex;
  align-self: center;
  flex-direction: row;
}
 
.blog-post-header91-link {
  font-size: 20px;
  text-decoration: none;
}
 
.blog-post-header91-thq-content-elm2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.blog-post-header91-thq-author-elm {
  gap: var(--dl-layout-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.blog-post-header91-text2 {
  display: inline-block;
}
 
.blog-post-header91-text3 {
  display: inline-block;
}
 
.blog-post-header91-text4 {
  display: inline-block;
}
 
.blog-post-header91root-class-name {
  background-color: #D9D9D9;
}
 
.blog-post-header91root-class-name1 {
  background-color: var(--color-surface);
}
 
@media(max-width: 479px) {
  .blog-post-header91-thq-text-elm {
    text-align: center;
  }
}
