.content-list21-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list21-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list21-thq-content-elm1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list21-li1 {
  align-items: flex-start;
}
 
.content-list21-thq-heading1-elm {
  align-self: flex-start;
}
 
.content-list21-thq-content1-elm {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list21-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list21-thq-content-elm2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list21-li7 {
  align-items: flex-start;
}
 
.content-list21-thq-heading7-elm {
  align-self: flex-start;
}
 
.content-list21-thq-content7-elm {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list21-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list21-text10 {
  display: inline-block;
}
 
.content-list21-text11 {
  display: inline-block;
}
 
.content-list21-text12 {
  display: inline-block;
}
 
.content-list21-text13 {
  display: inline-block;
}
 
.content-list21-text14 {
  display: inline-block;
}
 
.content-list21-text15 {
  display: inline-block;
}
 
.content-list21-text16 {
  display: inline-block;
}
 
.content-list21-text17 {
  display: inline-block;
}
 
.content-list21-text18 {
  display: inline-block;
}
 
.content-list21-text19 {
  display: inline-block;
}
 
.content-list21-text20 {
  display: inline-block;
}
 
.content-list21-text21 {
  display: inline-block;
}
 
.content-list21-text22 {
  display: inline-block;
}
 
.content-list21-text23 {
  display: inline-block;
}
 
.content-list21-text24 {
  display: inline-block;
}
 
.content-list21-text25 {
  display: inline-block;
}
 
.content-list21-text26 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .content-list21-ul2 {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .content-list21-ul4 {
    padding-left: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .content-list21-ul2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .content-list21-ul4 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
}
