.content-list2-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 200vh;
  align-items: center;
  flex-direction: column;
}
 
.content-list2-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list2-thq-content-elm1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list2-li1 {
  align-items: flex-start;
}
 
.content-list2-thq-heading1-elm {
  align-self: flex-start;
}
 
.content-list2-thq-content1-elm {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list2-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list2-thq-content-elm2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list2-li7 {
  align-items: flex-start;
}
 
.content-list2-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list2-text10 {
  display: inline-block;
}
 
.content-list2-text11 {
  display: inline-block;
}
 
.content-list2-text12 {
  display: inline-block;
}
 
.content-list2-text13 {
  display: inline-block;
}
 
.content-list2-text14 {
  display: inline-block;
}
 
.content-list2-text15 {
  display: inline-block;
}
 
.content-list2-text16 {
  display: inline-block;
}
 
.content-list2-text17 {
  display: inline-block;
}
 
.content-list2-text18 {
  display: inline-block;
}
 
.content-list2-text19 {
  display: inline-block;
}
 
.content-list2-text20 {
  display: inline-block;
}
 
.content-list2-text21 {
  display: inline-block;
}
 
.content-list2-text22 {
  display: inline-block;
}
 
.content-list2root-class-name {
  position: static;
}
 
@media(max-width: 767px) {
  .content-list2-ul2 {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .content-list2-ul4 {
    padding-left: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .content-list2-ul2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .content-list2-ul4 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
}
