.contact4-thq-contact20-elm {
  height: 417px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact4-thq-max-width-elm {
  gap: var(--dl-layout-space-twounits);
  height: 348px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact4-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-thq-content-elm1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-thq-row-elm {
  gap: 48px;
  height: 220px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact4-thq-content-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-thq-contact-info-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact4-thq-content-elm3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-thq-text-elm3 {
  align-self: flex-start;
  text-align: center;
}
 
.contact4-thq-text-elm4 {
  align-self: flex-start;
  text-align: left;
}
 
.contact4-thq-content-elm4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-icon3 {
  align-self: flex-start;
}
 
.contact4-thq-contact-info-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact4-thq-content-elm5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-thq-text-elm5 {
  align-self: stretch;
  text-align: left;
}
 
.contact4-thq-phone-elm {
  align-self: flex-start;
  text-align: center;
}
 
.contact4-thq-content-elm6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-icon5 {
  align-self: flex-start;
}
 
.contact4-thq-contact-info-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact4-thq-content-elm7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-thq-text-elm6 {
  align-self: flex-start;
  text-align: left;
}
 
.contact4-thq-text-elm7 {
  text-align: left;
}
 
.contact4-text1 {
  display: inline-block;
}
 
.contact4-text2 {
  display: inline-block;
}
 
.contact4-text3 {
  display: inline-block;
}
 
.contact4-text4 {
  display: inline-block;
}
 
.contact4-text5 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact4-thq-row-elm {
    flex-direction: column;
  }
}
