.content-list3-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.content-list3-thq-max-width-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.content-list3-thq-content-elm1 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list3-li10 {
  align-items: flex-start;
}
 
.content-list3-thq-heading1-elm {
  align-self: flex-start;
}
 
.content-list3-thq-content1-elm {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list3-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list3-thq-content-elm2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list3-li16 {
  align-items: flex-start;
}
 
.content-list3-thq-heading7-elm {
  align-self: flex-start;
}
 
.content-list3-thq-content7-elm {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list3-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list3-thq-content-elm3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.content-list3-li19 {
  align-items: flex-start;
}
 
.content-list3-thq-heading10-elm {
  align-self: flex-start;
}
 
.content-list3-thq-content10-elm {
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.content-list3-ul6 {
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
}
 
.content-list3-text10 {
  display: inline-block;
}
 
.content-list3-text11 {
  display: inline-block;
}
 
.content-list3-text12 {
  display: inline-block;
}
 
.content-list3-text13 {
  display: inline-block;
}
 
.content-list3-text14 {
  display: inline-block;
}
 
.content-list3-text15 {
  display: inline-block;
}
 
.content-list3-text16 {
  display: inline-block;
}
 
.content-list3-text17 {
  display: inline-block;
}
 
.content-list3-text18 {
  display: inline-block;
}
 
.content-list3-text19 {
  display: inline-block;
}
 
.content-list3-text20 {
  display: inline-block;
}
 
.content-list3-text21 {
  display: inline-block;
}
 
.content-list3-text22 {
  display: inline-block;
}
 
.content-list3-text23 {
  display: inline-block;
}
 
.content-list3-text24 {
  display: inline-block;
}
 
.content-list3-text25 {
  display: inline-block;
}
 
.content-list3-text26 {
  display: inline-block;
}
 
.content-list3-text27 {
  display: inline-block;
}
 
.content-list3-text28 {
  display: inline-block;
}
 
.content-list3-text29 {
  display: inline-block;
}
 
.content-list3-text30 {
  display: inline-block;
}
 
.content-list3-text31 {
  display: inline-block;
}
 
.content-list3-text32 {
  display: inline-block;
}
 
.content-list3-text33 {
  display: inline-block;
}
 
.content-list3-text34 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .content-list3-ul2 {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .content-list3-ul4 {
    padding-left: var(--dl-layout-space-threeunits);
  }
  .content-list3-ul6 {
    padding-left: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .content-list3-ul2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .content-list3-ul4 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .content-list3-ul6 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
}
