.features201-thq-layout349-elm {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features201-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features201-thq-content-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features201-thq-section-title-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features201-thq-content-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features201-thq-image-container-elm {
  flex: 1;
  width: 589px;
  height: 569px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features201-image {
  width: 470px;
  height: 563px;
  object-fit: cover;
}
 
.features201-text1 {
  display: inline-block;
}
 
.features201-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features201-thq-max-width-elm {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column-reverse;
  }
}
