.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-root-elm {
  width: 1704px;
  height: 396px;
}
 
.footer-thq-footer-top-grid-elm1 {
  width: 100%;
}
 
.footer-thq-footer-brand-column-elm1 {
  width: 539px;
  height: 222px;
}
 
.footer-thq-footer-brand-name-elm1 {
  font-size: 32px;
}
 
.footer-thq-footer-brand-description-elm1 {
  width: 364px;
  height: 73px;
  text-align: left;
}
 
.footer-text10 {
  font-size: 18px;
  text-align: left;
}
 
.footer-text11 {
  font-size: 18px;
  text-align: left;
}
 
.footer-thq-footer-column-title-elm1 {
  font-size: 24px;
}
 
.footer-thq-footer-contact-column-elm1 {
  width: 147px;
  height: 262px;
}
 
.footer-thq-footer-column-title-elm2 {
  font-size: 24px;
}
 
.footer-thq-footer-contact-item-elm1 {
  width: 329px;
  height: 96px;
}
 
.footer-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.footer-text26 {
  text-align: left;
}
 
.footer-thq-footer-container-elm {
  width: 1187px;
}
 
.footer-thq-footer-top-grid-elm2 {
  width: 100%;
}
 
.footer-thq-footer-brand-column-elm2 {
  width: 539px;
  height: 222px;
}
 
.footer-thq-footer-brand-name-elm2 {
  font-size: 32px;
}
 
.footer-thq-footer-brand-description-elm2 {
  width: 364px;
  height: 73px;
  text-align: left;
}
 
.footer-text28 {
  font-size: 18px;
  text-align: left;
}
 
.footer-text29 {
  font-size: 18px;
  text-align: left;
}
 
.footer-thq-footer-column-title-elm3 {
  font-size: 24px;
}
 
.footer-thq-footer-contact-column-elm2 {
  width: 147px;
  height: 262px;
}
 
.footer-thq-footer-column-title-elm4 {
  font-size: 24px;
}
 
.footer-thq-footer-contact-item-elm3 {
  width: 329px;
  height: 96px;
}
 
.footer-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.footer-text44 {
  text-align: left;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
