.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-thq-navigation-container-elm {
  height: 100px;
}
 
.navigation-thq-section-title-elm1 {
  font-size: 32px;
}
 
.navigation-text10 {
  font-size: 24px;
}
 
.navigation-text11 {
  font-size: 24px;
}
 
.navigation-text12 {
  font-size: 24px;
}
 
.navigation-text13 {
  font-size: 24px;
}
 
.navigation-text14 {
  font-size: 24px;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
